@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Expense APP</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <p>
        Hoşgeldiniz.
    </p>
</div>