@page
@model LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<div class="sidenav">
    <div class="login-main-text">
        <h2>Expense App<br> Login Page</h2>
        <p>
            From here you can log in to access the system or register using the registration button.
        </p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">

            @*
                Model Doğrulaması: Form gönderildiğinde, model binding işlemi gerçekleştirilir ve model doğrulama kuralları (DataAnnotations) çalıştırılır.
                Hata Mesajlarının Oluşumu: Eğer model doğrulama kuralları ihlal edilirse, ModelState nesnesine hata mesajları eklenir.
                Hata Mesajlarının Gösterimi: Doğrulama hataları, asp-validation-summary ve asp-validation-for etiketleri aracılığıyla kullanıcıya gösterilir.
                asp-validation-summary: Form genelinde meydana gelen tüm doğrulama hatalarını toplu halde gösterir.
                asp-validation-for: Belirli bir alan için meydana gelen doğrulama hatalarını gösterir.

                Not : asp-validation-summary="ModelOnly": Yalnızca model seviyesindeki doğrulama hatalarını toplu halde gösterir.
            *@

            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <form method="post">
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>
                <button type="submit" class="btn btn-black">Login</button>
                <a asp-page="Register" class="btn btn-secondary">Register</a>
                <a asp-page="Index" class="btn btn-warning mt-2">ReturnToHomePage</a>
            </form>
        </div>
    </div>
</div>