@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout Page";
}

<div class="row">
    <div class="col p-3">
        @*fa-spin etiketin dönmesini sağladı.*@
        <i class="fa fa-sync-alt fa-spin mr-2"></i>Lütfen bekleyiniz,çıkış işlemi yapılıyor.
    </div>
</div>